<a href="https://colab.research.google.com/github/SauravDakre/MachineLearning/blob/master/basics/python/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple 
- tuple is one dimensional representation of data which can be of mixed type and is immutable

In [1]:
tup1 = (1,2,'pune')
print(tup1)

(1, 2, 'pune')

In [13]:
tup2 = (10,10,22,33,43,33,56,78,10)
print("type",type(tup2))
print(tup2[1])
print("count 33:",tup2.count(33))
print("index 33:",tup2.index(33))

type <class 'tuple'>
10
count 33: 2
index 33: 3

In [4]:
tup2[2] = 55 # tuple is immutable => we cannot edit or append a tuple

TypeError: ignored

In [14]:
tup3 = tup2 + ('new',)
tup3

(10, 10, 22, 33, 43, 33, 56, 78, 10, 'new')

# List
- one dimensional representation of data of mixed type and is mutable

In [5]:
l1 = [5,6,7,8,9,'data',10]

In [7]:
print("type:", type(l1))
print(l1)
l1[1] = 111   # mutable
l1.append(5)  # mutable
print(l1)
print("5 index",l1.index(5))
print("5 count",l1.count(5))
print('remove 8', l1.remove(8)) # remove element 8 not element at index 8
print(l1)

type: <class 'list'>
[5, 111, 7, 8, 9, 'data', 10, 5]
[5, 111, 7, 8, 9, 'data', 10, 5, 5]
5 index 0
5 count 3
remove 8 None
[5, 111, 7, 9, 'data', 10, 5, 5]

In [15]:
print(tup2)
l2 = list(tup2) # create list from tuple
l2.append('new element')
tup2 = tuple(l2)
print(tup2) # create tuple from list

(10, 10, 22, 33, 43, 33, 56, 78, 10)
(10, 10, 22, 33, 43, 33, 56, 78, 10, 'new element')

# Dictionary
- representation of data in key value format , also used to create data frame

In [16]:
dict1={
    'name':('mra', 'mrb', "mrc"),
    'age': (19,20,21),
    'department':('it', 'fin', 'accounts')
}
print(dict1)
type(dict1)
print(dict1.keys(), dict1.values())
dict1['city'] ='pune'
print(dict1.keys(), dict1.values())

{'name': ('mra', 'mrb', 'mrc'), 'age': (19, 20, 21), 'department': ('it', 'fin', 'accounts')}
dict_keys(['name', 'age', 'department']) dict_values([('mra', 'mrb', 'mrc'), (19, 20, 21), ('it', 'fin', 'accounts')])
dict_keys(['name', 'age', 'department', 'city']) dict_values([('mra', 'mrb', 'mrc'), (19, 20, 21), ('it', 'fin', 'accounts'), 'pune'])